
/* General Style*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
.clear{
    clear: both;
}
/* Header Style*/
.header{
    background-color: gray;

}
.container{
    width: 80%;
    margin: auto;
}
.header .nav{
    float:left;
    width: 60%;
    padding: 20px 30px;
    text-align: right;
    
}
.header .nav li{
display: inline-block;
}
.header .nav> li a{
    font-size: 20px;
    display: block;
    padding: 10px ;
    color: #FFF;

}
.header .logo {
float: left;
width: 40%;
}
.header .logo img{
    margin-top: 10px;
    width: 20%;
}
